[submodule "hieroforge-core/lib/hedera-smart-contracts"]
	path = hieroforge-core/lib/hedera-smart-contracts
	url = https://github.com/hashgraph/hedera-smart-contracts
[submodule "hieroforge-core/lib/hedera-forking"]
	path = hieroforge-core/lib/hedera-forking
	url = https://github.com/hashgraph/hedera-forking
