# Compiler files
cache/
out/
verify-bundles/

# Broadcast logs (all chains)
broadcast/

# Deployed addresses (local)
deployedaddress.txt

# Docs
docs/

# Dotenv file
.env


# Ignore helper file
helper.txt
